body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
}

.resultDiv,
.inputDiv {
  /* width: 300px; */
  height: 20px;
  border: 0.1px dotted #333;
  padding: 20px;
  text-align: end;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
}

.inputDiv {
  border-bottom: none;
}

.numRow {
  /* height: 50px; */
  /* width: 300px; */
  /* border: 1px solid #333; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.num,
.op {
  padding: 10px 20px;
  border: 0.1px dotted #333;
  /* width: 40px; */
  flex: 1;
  /* height: 32px; */
  text-align: center;
  cursor: pointer;
}

.op {
  background-color: rgb(221, 140, 47);
}

.equal,
.clear {
  background-color: black;
  color: white;
}

.num:hover,
.op:hover {
  background-color: rgb(187, 187, 187);
  color: #333;
}
